/* inputStyles.css */
/* Estilo para todos los navegadores */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Safari y Chrome */
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-clear-button {
    filter: invert(1); /* Safari */
  }
  input[type="date"]::-webkit-calendar-picker-indicator:after {
    filter: invert(0); /* Safari */
  }
  input[type="date"]::-ms-clear {
    filter: invert(1); /* IE */
  }
  